# Environment variables
.env
.env.example

# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
env/

# OS files
.DS_Store

# Logs
*.log

# IDE
.vscode/
.idea/


#HTML 
index.html
#CSS
style.css
